.ui-widget-content
{
	background:url()!important;
	border:none!important;
}

.ui-datepicker-inline
{
	width:auto!important;
}

.ui-state-default
{
	width:55px;
	padding:7px 4px!important;
}

.ui-state-default,
.ui-state-default span
{  
	text-align:center!important;	
}

.ui-datepicker-inline th
{
	font-size:13px;
	background:#FFF url()!important;
}

td.ui-datepicker-week-end .ui-state-default
{
	background:#EEE url()!important;
}

.ui-state-default span
{
	text-decoration:underline!important;
	font-weight:bold;
	padding:0px!important;
}

.ui-state-default > .percentage
{
	padding-top:3px;
	font-weight:normal;
}