body
{
	font-size:14px;
	font-family:Arial;
	line-height:20px;
	padding:20px;
}

table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
table tr td, 
table tr th
{
	padding:1px; 
	border-spacing: 0px;
}

table.invoice
{
	border-bottom:1px solid #E9E9E9;
}

table.invoice thead
{
	border-bottom:1px solid #CCC;	
}

table.invoice tr th
{
	text-align:left;
	padding-bottom:5px;
}

table.invoice tbody td
{
	padding:3px 0px;
}

.bold
{
	font-weight:bold;
}

th.center,
td.center
{
	text-align:center!important;
}

th.right,
td.right
{
	text-align:right!important;
}

th.right,
td.right
{
	text-align:right!important;
}